.about-section
{
  width: 90%;
  height: 100%;
  margin: 16px auto;
}

.about-wrapper
{
  display:grid;
  place-content: center;
  height: 70%;
  width: 100%;
  margin:0 auto;
}

.about-card
{
  width: 100%;
}

.about--img-card
{
  min-width: 300px;
  min-height: 300px;
  background-image: url("../images/under-construction.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media screen and (min-width: 768px)
{
  .about--img-card
  {
    min-width: 450px;
    min-height: 450px;
  }
}
