
.contact-section
{
  display:grid;
  width: 90%;
  margin: 0 auto;
  place-items: center;

  grid-template-columns: repeat(2 ,1fr);
  grid-template-rows: repeat(2 ,1fr);
  height: 100%;
}

@media screen and (min-width: 1024px)
{
  .contact-section
  {
    width: 60%;
  }
}

.icons-wrapper
{
  width: 84px;
}

@media screen and (min-width: 810px)
{
  .icons-wrapper
  {
    width: 96px;
  }
}

.shadow
{
  color: var(--basic-color);
  filter: drop-shadow( 0px 8px 24px rgba(255, 255, 255, 0.5));
  transition: all .4s;
}

.shadow:hover
{
  transform: scaleY(1.2) scaleX(1.2);
  filter: drop-shadow( 0px 8px 24px rgba(255, 255, 255, 0.8));
  cursor:pointer;
}

.shadow:active
{
  color:var(--about-modal-background);
}