body
{
  background-image:url("/images/Wallpaper-coding.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  filter: grayscale(30%);
}

/* Main content */
.index__wrapper
{
  height: calc(95% - var(--header-height));
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media screen and (min-width: 1024px)
{
  .index__wrapper
  {
    margin-top: 5vh;
  }
} 

.index__wrapper .title
{
  text-shadow: 1px 1px 25px black,
               -1px -1px 25px black;
}

.index__text-wrapper
{
  height: 70%;
  width: 80%;
  max-width: 600px;

  display:flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0px 1em;
  margin: 0 auto;

}

.index__wrapper .index__text-wrapper ul
{
  margin-inline-start: 1em;
}

.index__wrapper .index__text-wrapper ul li
{
  color:var(--basic-color);
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
}

.text-wrapper_what
{
  margin-bottom: 2em;
}

.text-wrapper_what,
.text-wrapper_why
{
  height: 50%;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  line-height: 2rem;

  padding: 0em 1em ;

  background-color: rgba(26, 26, 26, 0.698);
  border-radius: 10px;
}

/* Logo and footer */

.index__logo-wrapper
{
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display:flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.index__logo-wrapper p
{
  margin-bottom: 1em;
}


/* NAVBAR */

.navbar
{
  display:block;
}

.navbar-content div a
{
  margin: 0 !important;
  font-size: var(--h2-font-size);
}

/* MENU MOBILE */

.menu-close /* X  */
{
  display:none;
}

/* MENU BURGER ICON */

@media screen and (min-width: 1024px)
{
  #menu-burger
  {
    display:none;
  }
}

.menu-icon
{
  color: var(--white);
}

/* BOTONES */
.btn-index
{
  padding: var(--normal-button-padding);
  
  color: var(--basic-color);
  text-decoration: none;
  font-family: var(--buttons-index-font);
  font-weight: bold;
  font-size:var(--medium-font-size);
  border-radius: var(--border-radius);
  text-align: center;
  position: relative;
  transition: all .35s;
}

.btn-index span
{
  position: relative;
  z-index: 2;
}

.btn-index:after
{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--basic-color);
  transition: all .35s;
  border-radius: var(--border-radius);
  text-align: center;
}

.btn-index:hover
{
  color: var(--dark);
}

.btn-index:hover:after
{
  width: 100%;
}
