body
{
  background-image:url("/images/Wallpaper-coding.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  filter: grayscale(30%);
}

/* NAVBAR */

.navbar
{
  display:block;
}

.navbar-content
{
  display:grid;
  grid-template-columns: repeat(10 ,10%);
  grid-template-rows: repeat(4 ,25%);
  min-height: calc(100vh - var(--header-height));

  letter-spacing: 1px;
}

.navbar-content div a
{
  margin: 0 !important;
  font-size: var(--h2-font-size);
}

.home-content
{
  grid-column: 4/5;
  grid-row: 1/2;
  display:flex;
  justify-content: flex-end;
  align-items: baseline;
  margin-top: 12px;
}

.proyects-content
{
  grid-column: 7/9;
  grid-row: 1/2;
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 16px;
  margin-top: 24px;
}

.contact-content
{
  grid-column: 3/5;
  grid-row: 4/5;
  display:flex;
  justify-content: flex-end;
  align-items: center;
}

.about-content
{
  grid-column: 7/9;
  grid-row: 4/5;
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (min-width: 810px)
{
  .home-content
  {
    grid-column: 2/3;
  }
  .proyects-content
  {
    grid-column:9/10;
  }

  .contact-content
  {
    grid-column: 2/3;
  }

  .about-content
  {
    grid-column: 9/10;
    margin-left: 12px;
  }
}

@media screen and (min-width: 1024px)
{
  .home-content
  {
    grid-column: 2/3;
    justify-content: flex-start;
    margin-bottom: 64px;
  }

  .proyects-content
  {
    margin: 0;
    justify-content: flex-end;
    margin-bottom: 64px;
  }

  .contact-content
  {
    justify-content: flex-start;
    margin-right: 164px;
  }
  
  .about-content
  {
    margin: 0;
    margin-right: 16px;
    justify-content: flex-end;
  }
}

/* MENU MOBILE */

.menu-close /* X  */
{
  display:none;
}

/* MENU BURGER ICON */

@media screen and (min-width: 1024px)
{
  #menu-burger
  {
    display:none;
  }
}

/* BOTONES */
.btn-index
{
  padding: var(--normal-button-padding);
  
  color: var(--basic-color);
  text-decoration: none;
  font-family: var(--buttons-index-font);
  font-weight: bold;
  font-size:var(--medium-font-size);
  border-radius: var(--border-radius);
  text-align: center;
  position: relative;
  transition: all .35s;
}

.btn-index span
{
  position: relative;
  z-index: 2;
}

.btn-index:after
{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--basic-color);
  transition: all .35s;
  border-radius: var(--border-radius);
  text-align: center;
}

.btn-index:hover
{
  color: var(--dark);
}

.btn-index:hover:after
{
  width: 100%;
}
