:root
{
  /* COLORES */
  --black: #08080C;
  --dark: #121118;
  --light-dark: #2C2C3A;
  --text-input-field: #32323E;
  --basic-color: #DEDCE5;
  --white: #ffffff;
  --orange:#c0741d;
  --red: #a30d0d;
  --green: #167e04;

  --transparent: transparent;

  /* BACKGROUND */
  --background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(5,5,5,1) 18%, rgba(7,7,7,1) 36%, rgba(17,17,17,1) 52%, rgba(21,21,21,1) 70%, rgba(32,32,32,1) 86%, rgba(37,37,37,1) 100%);
  --background-opacity: #0f0f0fd5;
  
  /* FUENTES */
  --body-font : 'Quicksand', sans-serif;
  --title-font : 'Anton', sans-serif;
  --buttons-index-font: 'Roboto', sans-serif;

  /* Max Width del Main content */
  --max-width          :  370px;

  /* TAMAÑOS */
  --header-height      : 48px;
  --footer-height:     : 20px;
  --section-spacing    : 36px;
  --content-spacing    : 24px;
  --body-line-height   : 1.6;
  --title-line-height  : 1.4;
  --normal-button-padding: 8px 16px;

  /* CARDS */
  --card-size: 240px;

  /* TAMAÑOS DE FUENTES */
  --h1-font-size       : 36px;
  --h2-font-size       : 32px;
  --h3-font-size       : 28px;
  --h4-font-size       : 20px;
  --big-font-size      : 28px;
  --medium-font-size   : 20px;
  --normal-font-size   : 16px;
  --small-font-size    : 12px;
  --smaller-font-size  : 8px;

  /* CAPAS */
  --z-back             : -10;
  --z-normal           : 1;
  --z-front            : 10;
  --z-tooltip          : 20;
  --z-overlay          : 30;
  --z-modal            : 40;
  --z-fixed            : 50;
  --z-off-canvas       : 100;

  /* OTROS */
  --border-radius : 0.5rem;
  --box-shadow : 2px 2px 5px 1px rgba(216, 216, 216, 0.39), 
               -2px -2px 5px 1px rgba(216, 216, 216, 0.39);
  --primary-button-width: 150px;
  --primary-button-height: 50px;
  --line-item-width: 100px;
  --content-spacing: 24px;
  --margin-top-card: 24px;

  /* Sombras */
  --button-index-shadow: 1px 1px 1px rgba(128, 128, 128, 0.452),
                        -1px -1px 1px rgba(128, 128, 128, 0.452);
}


@media screen and (min-width: 810px)
{
  /* VARIABLES DE TAMAÑO DESKTOP */
  :root
  {
    --medium-font-size   : 28px;
    --normal-button-padding: 12px 20px;
  }
}

@media screen and (min-width: 1024px)
{
  /* VARIABLES DE TAMAÑO DESKTOP */
  :root
  {
    --medium-font-size   : 32px;
    --normal-button-padding: 12px 20px;
  }
}



/* Configuracion general */
*,
*::before,
*::after
{
  margin:0;
  padding:0;
  box-sizing: content-box;
}

html
{
  height: 100vh;
}

body
{
  min-height: 100%;
  background-image:url("/images/Wallpaper-coding.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  filter: grayscale(30%);
}
