
.salary-section
{
  display:grid;
  place-content: center;
  width: 90%;
  max-width: 450px;
  height: 90%;
  margin: 0 auto;

  grid-template-columns: 1fr;
  grid-template-rows: 40px 2fr 1fr 1fr;
}

@media screen and (min-width: 1024px)
{
  .salary-section
  {
    margin: 1em auto 0px;
    height: 90%
  }
};

.salary-section h1
{
  margin: 0;
  text-align: center;
  color:Red;
}

.list-form
{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.insert-container
{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.input-list-container
{
  display:flex;
  justify-content: space-around;

  color:var(--basic-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

.input-list-container label
{
  justify-self: center;
  align-self: center;
  font-weight: bold;
}

#salary-input
{
  color: var(--black);
  padding: var(--basic-padding);
  text-align: center;

  width: 40%;
}

.buttons-list-container
{
  display:flex;
  justify-content: space-around;
  margin-top: var(--content-spacing);
}

.btn-wrapper /* Tamaño boton Add y clear */
{
  width: 42px;
}

.list-added-field
{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  height: 200px;
  width: 100%;
  overflow-y: auto;

  box-shadow: var(--box-shadow);
  padding: var(--basic-padding);

  color: var(--basic-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

.list-added-field p:first-child
{
  font-weight: bold;
  margin-bottom: 12px;
}

.buttons-calculator-container
{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button-field-wrapper
{
  display:flex;
  flex-direction: column;
  align-items: center;

  cursor: pointer;
}

.calculate-text
{
  color: var(--white);
}

.result-field
{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space-evenly;

  box-shadow: var(--box-shadow);
  padding: var(--basic-padding);

  color:var(--basic-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

.result-field p 
{
  height: 25px;
}