:root
{
  /* COLORES */
  --black: #08080C;
  --dark: #121118;
  --light-dark: #2C2C3A;
  --text-input-field: #32323E;
  --basic-color: #DEDCE5;
  --white: #ffffff;
  --orange:#c0741d;
  --red: #a30d0d;
  --green: #167e04;

  --transparent: transparent;

  /* BACKGROUND */
  --background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(5,5,5,1) 18%, rgba(7,7,7,1) 36%, rgba(17,17,17,1) 52%, rgba(21,21,21,1) 70%, rgba(32,32,32,1) 86%, rgba(37,37,37,1) 100%);
  --background-opacity: #0f0f0fd5;
  
  /* FUENTES */
  --body-font : 'Roboto', sans-serif;
  --title-font : 'Quicksand', sans-serif;

  /* Max Width del content en desktop */
  --max-width          : 1200px;

  /* TAMAÑOS */
  --header-height      : 4rem;
  --footer-height:     : 1rem;
  --section-spacing    : 3rem;
  --block-spacing      : 2rem;
  --body-line-height   : 1.6;
  --title-line-height  : 1.4;

  /* CARDS */
  --card-size: 240px;

  /* TAMAÑOS DE FUENTES */
  --h1-font-size       : 2rem;
  --h2-font-size       : 1.5rem;
  --h3-font-size       : 1.25rem;
  --h4-font-size       : .85rem;
  --big-font-size      : 1rem;
  --normal-font-size   : 0.875rem;
  --small-font-size    : 0.75rem;
  --smaller-font-size  : 0.6875rem;

  /* CAPAS */
  --z-back             : -10;
  --z-normal           : 1;
  --z-front            : 10;
  --z-tooltip          : 20;
  --z-overlay          : 30;
  --z-modal            : 40;
  --z-fixed            : 50;
  --z-off-canvas       : 100;

  /* OTROS */
  --border-radius : 0.5rem;
  --box-shadow : 2px 2px 5px 1px rgba(216, 216, 216, 0.39), 
               -2px -2px 5px 1px rgba(216, 216, 216, 0.39);
  --primary-button-width: 150px;
  --primary-button-height: 50px;
  --line-item-width: 100px;
  --content-spacing: 24px;
  --margin-top-card: 24px;
}


@media screen and (min-width: 1024px)
{
  /* VARIABLES DE TAMAÑO DESKTOP */
  :root
  {
    --header-height     : 6rem;
    --footer-height:    : 4rem;
    --section-spacing   : 4rem;
    --block-spacing     : 3rem;
    --h1-font-size      : 3rem;
    --h2-font-size      : 2rem;
    --h3-font-size      : 1.5rem;
    --h4-font-size      : 1.25rem;
    --big-font-size     : 1.2rem;
    --normal-font-size  : 1rem;
    --small-font-size   : 0.875rem;
    --smaller-font-size : 0.75rem;
    --max-width         : 1280px;
    --content-spacing   : 36px;
    
  }
}

*,
*::after,
*::before
{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Configuración general */

html
{
  height: 100%;
  width: 100%;
}

.body,
body
{
  min-height: 100%;
  background: var(--background);
  display:grid;
  place-items: center;
  margin: auto auto 0 auto !important;
}

/* Textos */
p
{
  color:var(--basic-color);
  font-family: var(--body-font);
}

.title
{
  color:var(--basic-color);
  font-family: var(--title-font);
  font-size:var(--h1-font-size);
  line-height: var(--title-line-height);
}

.subtitle
{
  color:var(--text-input-field);
  font-family: var(--title-font);
  font-size: var(--h2-font-size);
  margin: 0.68em 0em;
}

.h3
{
  color:var(--basic-color);
  font-size: var(--h3-font-size);
}

.text
{
  color:var(--basic-color);
}

/* BOTONES */

.primary-button
{
  display:inline-block;
  width: var(--primary-button-width);
  height: var(--primary-button-height);
  padding: .25em .75em;
  background-color: var(--transparent);
  color: var(--basic-color);
  border: .75px solid var(--text-input-field);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  font-family: var(--title-font);
}

.geometry-button
{
  display:inline-block;
  width: 100px;
  height: 50px;
  padding: .20em .60em;
  background-color: rgb(36, 35, 35);
  color: var(--basic-color);
  border: .75px solid var(--text-input-field);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  font-family: var(--title-font);
  font-weight: bold;
}

.geometry-button:active {
  transform: translateY(1px);
  filter: saturate(150%);
}

.geometry-button + .reset
{
  border: 2px solid var(--red);
  box-shadow: 2px 2px 5px 1px var(--red), 
  -2px -2px 5px 1px var(--red);
}


.button-salary
{
  display:inline-block;
  width: var(--primary-button-width);
  height: var(--primary-button-height);
  padding: .25em .5em;
  background-color: var(--transparent);
  color: var(--basic-color);
  border: .75px solid var(--text-input-field);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  font-family: var(--title-font);
  font-size: var(--big-font-size);
  font-weight: bold;
  letter-spacing: .75px;
}

.send-button
{
  background-color: var(--black);
  color:var(--basic-color);
  font-family: var(--title-font);
  font-size: var(--big-font-size);
  font-weight: bold;
  padding: .25em .5em;
  border-radius: var(--border-radius);
  border: .75px solid var(--text-input-field);
  height: 28px;
  width: 128px;
}

.clear-button
{
  border: 2px solid var(--red);
  box-shadow: 2px 2px 5px 1px var(--red), 
  -2px -2px 5px 1px var(--red);
}

.clear-button:active {
  transform: translateY(1px);
  filter: saturate(150%);
}

@media screen and (min-width: 1024px)
{
  .send-button
  {
    padding: .5em 1em;
    height: 48px;
    width: 184px;
  }
}

#button-add-income
{
  
  font-weight: 600;
  border:.25px solid var(--green);
  box-shadow: 0 0 10px 0 var(--green) inset, 0 0 10px 4px var(--green);
  color: var(--green);
  border-color: var(--green);
  
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

#button-add-expense
{
  font-weight: 600;
  border:.25px solid var(--red);
  box-shadow: 0 0 10px 0 var(--red) inset, 0 0 10px 4px var(--red);
  color: var(--red);
  border-color: var(--red);
  
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

#button-add-income:hover
{
  color:var(--basic-color);
  box-shadow: 0 0 40px 40px var(--green) inset, 0 0 0 0 var(--green);
}

#button-add-expense:hover
{
  color:var(--basic-color);
  box-shadow: 0 0 40px 40px var(--red) inset, 0 0 0 0 var(--red);
}

.btn-close
{
  height: 12px;
}


/* Title and subtitle */
.title
{
  font-family: var(--title-font);
  font-size: var(--h1-font-size);
  text-align: center;
  color: var(--basic-color);
}

/* HEADER - NAVBAR */
.header
{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items:flex-start;
  width: 100%;
  height: var(--header-height);
}

@media screen and (min-width: 1024px)
{
  .header
  {
    width: var(--max-width);
    margin-top: var(--header-height);
  }
}

.logo-container
{
  position:relative;
  top:10px;
}

@media screen and (min-width: 1024px)
{
  .logo-container
  {
    top: 0px;
  }  
}

.navbar-content
{
  display:none;
}

@media screen and (min-width: 1024px)
{
  .navbar-content
  {
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-content li
  {
    margin-left: 46px;
  }
}

.navbar ol li
{
  padding: 12px 0px;
}

.navbar li a
{
  text-decoration: none;
  color:var(--basic-color);
  font-family: var(--title-font);
  font-size:var(--big-font-size);
  font-weight: bold;
}


a.animated-button.thar-one {
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
  padding: 4px 12px;
	border: 2px solid var(--basic-color);
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
a.animated-button.thar-one:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: none;
}
a.animated-button.thar-one:hover:before {
	bottom: 0%;
	top: auto;
	height: 100%;
}
a.animated-button.thar-one:before {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 0px;
	width: 100%;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: var(--basic-color);
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
a.animated-button.thar-two {
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
  padding: 4px 12px;
	border: 2px solid var(--basic-color);
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
a.animated-button.thar-two:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: ntwo;
}
a.animated-button.thar-two:hover:before {
	top: 0%;
	bottom: auto;
	height: 100%;
}
a.animated-button.thar-two:before {
	display: block;
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 0px;
	width: 100%;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: var(--basic-color);
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
a.animated-button.thar-three {
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
  padding: 4px 12px;
	border: 2px solid var(--basic-color);
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}
a.animated-button.thar-three:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: nthree;
}
a.animated-button.thar-three:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}
a.animated-button.thar-three:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: var(--basic-color);
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}
a.animated-button.thar-four {
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
  padding: 4px 12px;
	border: 2px solid var(--basic-color);
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}
a.animated-button.thar-four:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: nfour;
}
a.animated-button.thar-four:hover:before {
	right: 0%;
	left: auto;
	width: 100%;
}
a.animated-button.thar-four:before {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: var(--basic-color);
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}





.menu-icon img,                                          /* BURGER MENU */
#menu-burger
{
  height: 36px;
  position: absolute;
  top: 40px;
  right: 80px;
}

@media screen and (min-width:810px)
{
  .menu-icon img,     
  #menu-burger
  {
  height: 42px;
  top: 70px;
  right: 230px;
  }
}

@media screen and (min-width: 1024px) 
{
  .menu-icon img,     
  #menu-burger
  {
    display:none;
  }
}
                                                                /* INDEX */

.index-wrapper
{
  width: 90%;
}
.content-wrapper
{
  display: grid;
  grid-template-columns: 15px 1fr;
  grid-template-rows: repeat(3 ,1fr);
}

.line-wrapper
{
  grid-column: 1/2;
  grid-row: 1/4;
  
  margin: 0px 6px;

  background-color: #fff;
  border-radius: var(--border-radius);
  position:relative;
}

#line-ball-1
{
  background-color: grey;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  z-index: var(--z-off-canvas);
  position: absolute;
  top: 200px;
  left: 12px;
  display:block;
}

.personal-info
{
  display:flex; 
  flex-direction: column;
  padding: 8px;
  margin: 8px;
  background-color: var(--text-input-field);
  border-radius: var(--border-radius);
}

                                                                 /* SECTIONS */

.calculator-section
{
  margin-top: var(--section-spacing);
  display:grid;
  place-content: center;
  width: 90%;
}

@media screen and (min-width: 810px)
{
  .calculator-section
  {
    margin-top: var(--section-spacing);
  }
}

@media screen and (min-width: 1024px)
{
  .calculator-section
  {
    width: 600px;
    margin-top:var(--section-spacing);
  }
}


/*  Salary-section     */

.salary-section
{
  width: 90%;
  margin-top: var(--section-spacing);
}

@media screen and (min-width: 810px)
{
  .salary-section
  {
    width: 80%;
  }
}

@media screen and (min-width: 1024px)
{
  .salary-section
  {
    width: var(--max-width);
  }
}

                                                    /* LIST FIELD (SALARY SECTION) */
.list-field
{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px 1fr 1fr 1fr;
  font-family: var(--body-font);
  margin-top: var(--section-spacing);
}

.list-field h2
{
  grid-column: 1/3;
}

@media screen and (min-width: 1024px)
{
  .list-field
  {
    grid-template-rows: 50px 3fr 1fr 1fr;
  }

  .list-field h2
  {
    margin-top: 8px;
  }
}

.text-container
{
  color:var(--basic-color);
  line-height: 20px;
}

.text-container p
{
  margin: 0.68em 0em;
}
@media screen and (min-width: 1024px)
{
  .text-container p
  {
    margin-bottom: 2em;
  }
}

.list-form
{
  grid-row: 2/3;
  grid-column: 1/3;
  display:flex;
  flex-direction: column;
  justify-content: stretch;
}

@media screen and (min-width: 1024px)
{
  .list-form
  {
    justify-content: space-evenly;
    align-content: center;
    flex-direction: column;
  }
  
  .list-form p:last-child
  {
    height: 100px;
  }
}

@media screen and (min-width: 810px)
{
  .list-form
  {
    flex-direction: column;
    align-content: space-around;
    margin-top: var(--section-spacing);
  }
}

.list-form label
{
  color: var(--basic-color);
  font-weight: 600;
}

.list-form input
{
  width: 180px;
  padding: 4px 8px;
  border-radius: var(--border-radius);
  text-align: center;
}


@media screen and (min-width: 1024px)
{
  .list-form input
  {
    margin-left: 84px;
  }
}

.buttons-list
{
  grid-row: 3/4;
  grid-column: 1/3;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.buttons-list button
{
  margin-top: 24px;
}

.result-field
{
  grid-row: 4/5;
  grid-column: 1/3;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  color:var(--basic-color);
  font-family: var(--body-font);
}

.insert-container
{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  height: 100%;
}

@media screen and (min-width: 810px)
{
  .insert-container
  {
    justify-content: space-evenly;
    height: 100px;
  }

  .input-list-container
  {
    justify-content: space-evenly !important;
  }
}

@media screen and (min-width: 1024px)
{
  .insert-container
  {
    height: 150px;
  }
}

.input-list-container
{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1024px)
{
  .input-list-container
  {
    justify-content: space-evenly;
  }
}


.buttons-list-container
{
  display:flex;
  justify-content: space-between;
}

@media screen and (min-width: 810px)
{

  .buttons-list-container
  {
    justify-content: space-evenly;
  }
  .buttons-list
  {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 1024px)
{
  .buttons-list-container
  {
    justify-content: space-evenly;
  }
  .buttons-list
  {
    flex-direction: row;
    justify-content: space-around;
  }
}


#list-added
{
  display:block;
  width: 300px;
}

@media screen and (min-width: 810px)
{
  #list-added
  {
    width: 650px;
    height: 100px;
  }
}


@media screen and (min-width: 1024px)
{
  #list-added
  {
    width: var(--max-width);
    height: 150px;
  }
}

.example-field
{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.example-field p
{
  text-align: center;
}


/* Income Field */
.income-field
{
  border: 0.1px solid var(--text-input-field);
  border-radius: var(--border-radius);
  margin-bottom: 12px;     /* SEPARACION ENTRE SECCIONES */
  height: 200px;
  overflow-y: scroll;
}

@media screen and (min-width: 810px)
{
  .income-field
  {
    height: 300px;
    margin-bottom: var(--content-spacing);
    overflow-y:auto;
  }
}

#income-field-id
{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 50px 1fr;
}

@media screen and (min-width: 1024px)
{
  #income-field-id
  {
    grid-template-rows: 70px 1fr;
  }
}

.income-total-field
{
  overflow-y: hidden;
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  grid-column: 1/3;
  grid-row: 1/2;
}

@media screen and (min-width: 1024px)
{
  .income-total-field
  {
    overflow-y:hidden;
  }
  .income-total-field h3
  {
    margin: 0;
  }
}

.income-total
{
  display:flex;
  border: .5px solid var(--text-input-field);
  border-radius: var(--border-radius);
}

.income-total p
{
  margin:0;
  padding:0;
  padding: 4px 8px;
}

.income-line
{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: var(--body-font);
  height:40px;
}

.income-line img
{
  margin-left: 12px;
}

/* Expenses Field  */

.expense-field
{
  border: 0.1px solid var(--text-input-field);
  border-radius: var(--border-radius);
  margin-bottom: 12px;     /* SEPARACION ENTRE SECCIONES */
  height: 200px;
  overflow-y: auto;
}

@media screen and (min-width: 810px)
{
  .expense-field
  {
    height: 300px;
    margin-bottom: var(--content-spacing);
  }
}

@media screen and (min-width:1024px)
{
  .expense-field
  {
    height: 300px;
    overflow-y:auto;
  }
}

#expense-field-id
{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 50px 1fr;
}

@media screen and (min-width: 1024px)
{
  #expense-field-id
  {
    grid-template-rows: 70px 1fr;
  }
}

.expense-total-field
{
  overflow-y: hidden;
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  grid-column: 1/3;
  grid-row: 1/2;
}

@media screen and (min-width: 1024px)
{
  .expense-total-field
  {
    overflow-y:hidden;
  }
  .expense-total-field h3
  {
    margin: 0;
  }
}

.expense-total
{
  display:flex;
  border: .5px solid var(--text-input-field);
  border-radius: var(--border-radius);
}

.expense-total p
{
  margin:0;
  padding:0;
  padding: 4px 8px;
}

.expense-line
{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: var(--body-font);
  height:40px;
}

.expense-line img
{
  margin-left: 12px;
}

/* Balance Input section*/

.balance-input-section
{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;/* SEPARACION ENTRE SECCIONES */
  border: 0.1px solid var(--text-input-field);
  border-radius: var(--border-radius);
}

@media screen and (min-width: 1024px)
{
  .balance-input-section
  {
    margin: 36px 0;
    justify-content: space-evenly;
  }
}

#input-calculator-field /* input */
{
  border-radius: var(--border-radius);
  text-align: center;
  width: 120px;
  margin-right: 12px;
}

.balance-field /* texto balance */
{
  display:flex;
  justify-content: center;
  align-items:baseline;
  margin: 6px 16px;
}

#balance-total-field
{
  display:grid;
  place-content: center;
  line-height: 16px;
}

.balance-field h3 /* palabra balance: */
{
  font-weight: 600;
  margin-right: 8px;
  color:var(--basic-color);
}

@media screen and (min-width: 1024px)
{
  .balance-field h3
  {
    margin-right: 42px;
  }
}

/* Buttons Calculator Section */
.button-calculator-section
{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

@media screen and (min-width: 810px)
{
  .button-calculator-section
  {
    margin-top: var(--content-spacing);
  }
}

@media screen and (min-width: 1024px)
{
  .button-calculator-section
  {
    justify-content: space-evenly;
  }
}


/* GEOMETRY SECTION */

.geometry-section
{
  display:grid;
  place-content: center;
  margin-top: var(--section-spacing);
}

.geometry-section h2
{
  grid-row: 1/2;
  text-align: center;
}

.cards-container
{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px repeat(3, auto);

  width: 350px;
}

@media screen and (min-width: 810px)
{
  .cards-container
  {
    width: 500px;
  } 
}

@media screen and (min-width: 1024px)
{
  .cards-container
  {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    width: 100%;
    gap: 40px;
    margin-top: var(--section-spacing);
  }

  .geometry-section h2
{
  grid-row: 1/2;
  text-align: left;
}

  .square-card
  {
    grid-row: 1/2 !important;
    grid-column: 1/2;
    width: 400px;
  }
  .triangle-card
  {
    grid-row: 1/2 !important;
    grid-column: 2/3;
    width: 400px;
    margin: 0 !important;
  }

  .circle-card
  {
    grid-row: 1/2 !important;
    grid-column: 3/4;
    width: 400px;
    margin: 0 !important;

  }
}

.square-card
{
  grid-row: 2/3;
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  border: .25px solid var(--white);
  border-radius: var(--border-radius);
  padding: 12px;
}


.card-image-container
{
  background: var(--white);
  border-radius: var(--border-radius);
  display:inline-flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  object-fit:cover;
  height: 300px;
}

.card-image-container img
{
  height: 180px;
}

.input-square-section
{
  height: 150px;
}

.input-square-section div
{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--basic-color);
  font-family: var(--body-font);
  margin-top: var(--margin-top-card);
  padding: 4px 8px;
  height: 100%;
}

.geometry-input 
{
  width: 100px;
  height: 26px;
  border-radius: var(--border-radius);
  padding: 2px 4px;
}

.result-square-field
{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 150px;
}

.perimeter-field
{
  background-color: var(--light-dark);
  border-radius: var(--border-radius);
  display:inline-flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  margin-top:var(--margin-top-card);
}

.area-field
{
  background-color: var(--light-dark);
  border-radius: var(--border-radius);
  display:inline-flex;
  flex-direction: row;
  width: 100%;
  height: 50px;

  margin-top:var(--margin-top-card);
}

.icon-card-container
{
  display:grid;
  place-content: center;
}

.icon-card-container img
{
  height: 48px;
  padding: 4px;
}

.text-card-field
{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 12px;
}

.text-card-field h4
{
  color:var(--basic-color);
  font-size: var(--h4-font-size);
  font-weight: bold;
  font-family: var(--title-font);
}

.text-card-field p
{
  color:var(--basic-color);
  font-family: var(--body-font);
  height: 20px;
}

.button-card-section
{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-top:var(--margin-top-card);
}

.triangle-card
{
  grid-row: 3/4;
  display:flex;
  justify-content: space-around;
  flex-direction: column;
  border: .25px solid var(--white);
  border-radius: var(--border-radius);
  padding: 12px;
  margin-top: 24px;
}

.input-triangle-section
{
  display:inline-flex;
  height: 150px;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  color: var(--basic-color);
  font-family: var(--body-font);
}

.input-triangle-section label
{
  display:grid;
  place-content: center;
}

.triangle-div
{
  display:flex;
  flex-direction: row;
  justify-content: space-between;


  margin-top: var(--margin-top-card);
  padding: 4px 8px;
}


.circle-card
{
  grid-row: 4/5;
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  border: .25px solid var(--white);
  border-radius: var(--border-radius);
  padding: 12px;

  margin-top: 24px;
}

.input-circle-section
{
  height: 150px;
}

.input-circle-section div
{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--basic-color);
  font-family: var(--body-font);
  margin-top: var(--margin-top-card);
  padding: 4px 8px;
  height: 100%;
}

.input-circle-section label
{
  display:grid;
  place-content: center;
}


                                                              /* Discounts */
.discount-section
{
  display:grid;
  place-items:center;
  height: 100%;
  margin-top: var(--content-spacing);
  width: 90%;
}

.text-discount-field p
{
  line-height: 22px;
}

.discount-wrapper
{
  display:grid;
  place-content:center;
  border: 1px solid var(--text-input-field);
  border-radius: var(--border-radius);
  padding: 12px;
  color:var(--basic-color);
  font-family: var(--body-font);
  font-weight: bold;

  margin-top: var(--content-spacing);
  grid-template-rows: 2fr repeat(2, 1fr);
}

@media screen and (min-width: 810px)
{
  .discount-wrapper
  {
    width: 60%;
  }
}

@media screen and (min-width: 1024px)
{
  .discount-wrapper
  {
    width: 35%;
  }
}

.input-discount-section
{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: center;

  font-family: var(--title-font);
}

.input-discount
{
  width: 120px;
  padding: 4px 8px;
  border-radius: var(--border-radius);
  text-align: center;
}

.result-discount-field
{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  height: 50px;
  margin-top: var(--content-spacing);  
}

.result-discount-field p
{
  display:grid;
  place-content: center;
}

.button-discount-wrapper
{
  display:grid;
  place-content: center;
}


                                                            /* menu RESPONSIVE */
.menu-wrapper
{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: var(--z-off-canvas); /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: var(--black); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.219); /* Black w/ opacity */
}

.menu-content /* Contenido del menu */
{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-opacity);
  padding: 0px;
  margin:0;
  width: 100%;
  height: 100%;
  list-style: none;
}

.menu-content li a
{
  text-decoration: none;
  color:var(--basic-color);
  font-family: var(--title-font);
  font-size:var(--title-font);
  font-weight: bold;
  transition: 1s;
}

.menu-content li a:hover
{
  border-bottom: 1px solid var(--white);
  box-shadow: var(--box-shadow);
  color:var(--text-input-field);
  transition: 1s;
}

.menu-content li
{
  margin-top: 48px;
  transition: 1s;
}

.menu-close /* Boton cerrar menu */
{
  color: var(--basic-color);
  position: absolute;
  top: 45px;
  right: 80px;
  font-size: 36px;
  font-weight: bold;
}

@media screen and (min-width: 810px)
{
  .menu-close
  {
    top: 55px;
    right: 240px;
  }
}

@media screen and (min-width: 1024px) {
  .menu-close
  {
    display:none;
  }
}

.menu-close:hover,
.menu-close:focus 
{
  color: var(--text-input-field);
  text-decoration: none;
  cursor: pointer;
}

                                                                /* FOOTER */

.footer-wrapper
{
  display:block;
}

.footer-text
{
  color: var(--basic-color);
  font-family: var(--title-font);
  font-weight: 300;
  margin: 12px 0px;
}

.footer-content
{
  color: var(--basic-color);
  font-family: var(--title-font);
  font-weight: 300;
  display:none;
}

@media screen and (min-width: 810px)
{
  .footer-content
  {
    display:flex;
    flex-direction: row;
    justify-content: center;
  }

  .footer-content a img
  {
    height: 40px;
    margin-right: 16px
  }

  .footer-wrapper
  {
    margin-top:var(--content-spacing);
  }
}


@media screen and (min-width: 1024px)
{
  .footer-wrapper
  {
    display:flex;
    justify-content: center;
    margin-top: var(--content-spacing);
  }
  .footer-content
  {
    margin-left: 120px
  }

  .footer-content a img
  {
    margin-right: 32px;
  }
}
